/.bundle

/log/*
/tmp/*
/storage/*

/node_modules
/yarn-error.log
/public/assets
/config/master.key

/.rubocop.yml
/.rubocop_disabled.yml
/.rubocop_enabled.yml

/.ruby-version
/Gemfile.lock
/config.ru
/package.json
/Rakefile

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

/config/application.yml
