@import 'bootstrap';
@import 'color';

body {
  margin: 0;
  padding: 0;
  background: $bg;
}
#content { margin-top: 76px; }
.alert {
  width: 30%;
  border-radius: 0;
  font-weight: bold;
  position: absolute;
  z-index: 1000;
}
.navbar {
  background: $white;
  .logo {
    width: 150px;
    height: auto;
  }
  .navbar-collapse {
    justify-content: center;
  }
  .nav-link {
    text-transform: uppercase;
    color: $nav-link;
    padding: 0 1rem !important;
    font-weight: bold;
  }
  .nav-link:hover { color: $green; }
}
.bg-1 { background: image-url('slide-1.jpg'); }
.bg-2 { background: image-url('slide-2.jpg'); }
.bg-1, .bg-2 {
  height: 650px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .content-slide {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .text {
      color: $white;
      i {
        padding: 10px 15px;
        background: $green;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
      }
      h1 { font-weight: bold; }
    }
  }
}
.div-form {
  width: 50%;
  padding: 2rem;
  background: $white;
  box-shadow: 5px 6px 7px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  .component {
    display: flex;
    justify-content: space-between;
  }
}
label { font-weight: bold; }
.show-left {
  margin-top: 1.5rem;
  .avatar {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 1rem auto;
    img {
      display: inline;
      height: 100%;
      width: auto;
    }
  }
  h5 { line-height: 2; }
}
.nav-pills .nav-link {
  font-weight: bold;
  text-transform: uppercase;
}
.radio-group {
  display: flex;
  div { padding: 0 20px; }
}
.profile {
  width: 80%;
  margin: auto;
  padding: 2rem;
  background: $white;
  border-radius: 1rem;
  box-shadow: 5px 6px 7px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(1rem);
}
.menu {
  background: #380d40;
  height: 100%;
  position: fixed;
  width: 243px;
  .nav-link {
    color: $white;
    padding: 15px 20px;
    font-weight: bold;
    transition: 0.3s;
  }
  .nav-link:hover {
    background: #212121;
    color: $green;
  }
  .fa { margin-right: 0.5rem; }
}
.row-fluid { margin-left: -30px; }
.table th { border-top: none; }
::-webkit-scrollbar { width: 0; }
.items {
  margin-bottom: 25px;
  padding-bottom: 0.75rem;
  img { margin-bottom: 0.75rem; }
  .action {
    display: flex;
    justify-content: space-around;
  }
  .link_product {
    text-decoration: none;
    color: $bg-menu;
    h5 { padding: 0 18px; }
  }
  h6 { padding: 0 18px; }
}
.nav-tabs .nav-link.active {
  background: $bg !important;
  border-color: $border-tabs $border-tabs $bg;
}
.discount {
  position: absolute;
  z-index: 10;
  padding: 5px 10px;
  background: $discount;
  color: $white;
  top: 0;
  font-weight: bold;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.5);
}
.price {
  display: flex;
  justify-content: space-between;
}
.description { line-height: 2; }
.detail {
  background: $white;
  padding: 1.5rem;
  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.5);
  input { text-align: center; }
}
@media only screen and (max-width: 576px) {
  .alert { width: 100%; }
  .navbar .nav-link { padding: 10px !important; }
  .content-slide { flex-direction: column; }
  .div-form, .profile {
    width: 100%;
    padding: 1rem;
  }
  .menu {
    width: 100%;
    height: auto;
    position: relative;
  }
  .search-box { margin-bottom: 25px; }
}
